body{
    background-color: var(--background-color);
}
.information__all{
    font-size: 36px;
    font-weight: bold;
    text-align:center;
    padding: 192px 0 0 0;
}
.second__information__title{
    font-size: 63%;
    font-weight: 400;
    color:var(--sub-color);
}
.information__subtitle{
    font-size: 180%;
}

/* 6.html을 위한 css */
.information__title{
    font-size: 120%;
    color: var(--sub-color);
    font-weight: 500;
}
.information-title{
    font-size: 100%;
    font-weight: bold;
}
.information-subtitle{
    font-size: 83%;
    font-weight: 300;
}
.information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.map{
    box-shadow: 5px 5px 5px 5px var(--shadow);
}
#inf{
    font-size: 24px;
}
.information-text{
    padding: 0 0 0 50px;
}
.lastbutton{
    display: flex;
}
#but{
    margin-top: 30px;
    width:200px;
    height: 50px;
    line-height: 50px;
    /* line-height와 height 같으면 세로가운데정렬 */
    text-align: center;
    font-size: 80%;
    border-radius: 30px;
    margin-right: 20px;
    box-shadow: 5px 5px 5px 5px var(--shadow);
}
.blog{
    background-color: grey;
    color: white;
}
.blog a{
    color: white;
}
.kakao{
    background-color: #ffcf00;
    color: #3c1d1b;
}
.kakao a{
    color: #3c1d1b;
}
@media screen and (max-width: 1058px){
    .information{
        flex-direction: column;
    }
    .information__all{
        margin-top: 50px;
    }
}
@media screen and (max-width: 666px){
    .information{
        flex-direction: column;
        margin-top: 0;
    }
    .information__all{
        font-size: 20px;
    }
    #inf{
        font-size: 15px;
    }
    .map iframe{
        width: 300px;
        height: 200px;
    }
    #but{
        width: 120px;
        height: 30px;
        line-height: 30px;
    }  
}