body{
    overflow-x:hidden;
    background-color: rgb(252, 252, 252);
}
.video video{
    margin-top:96px;
    width:100vw;
    min-height:100%;

}
.first-paragraph{
    text-align: center;
    font-size: 36px;
}
.first-title{
    margin-top: 80px;
    padding: 20px 0;
    font-size: 110%;
    font-weight: bold;
}
.first-subtitle{
    font-size: 60%;
    font-weight: 300;
}

/* 시 삽입 */
.poem{
    display: inline-block;
    box-shadow: 10px 10px 10px 5px var(--shadow);
    border-radius: 50px 0;
    font-size: 50%;
    padding: 10px 30px;
    background-color: white;
}
mark{
    background-color: white; 
    font-weight: bold;
}

/* 십자가 내용 */
.cross__second{
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross__title{
    font-size: 95%;
    color: var(--main-color);
    font-weight: bold;
}
.cross__sub{
    font-size: 60%;
    line-height: 200%;
}
#button_for_nnext{
    padding: 5px 30px;
    background-color: white;
    border-radius: 30px;
    color: var(--main-color);
    box-shadow: 5px 5px 5px 3px var(--shadow);
    text-align: center;
    font-size: 50%;
    text-align: center;
    font-size: 85%;
    font-weight:bold;
}
#button_for_nnext:hover{
    background-color: var(--main-color);
    color: white;
}
.box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bbox{
    font-size: 20px; 
    background-color: white;
    box-shadow: 5px 5px 5px 4px var(--shadow);
    border-radius: 50px 0;
    margin: 20px;
}
.box-1-title{
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}
.box-1-subtitle{
    margin-top: 20px;
    font-size: 0.95rem;
    font-weight: 300;
}

.click{
   margin-bottom: 30px;
   border-radius: 20px;
   width: 100px;
   height: 30px;
   color: var(--main-color);
   border: 2px solid var(--main-color);
   font-weight: bold;
   background-color:white;
}
.click:hover{
    background-color: var(--main-color);
    color: white;
}

/* 오시는 길 */
.information{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    font-size: 24px;
}
.information-text{
    padding: 0 0 0 50px;
}
.information-title{
    font-size: 100%;
    font-weight: bold;
}
.information-subtitle{
    font-size: 80%;
    font-weight: 300;
}
.map iframe{
    width: 550px;
    height: 350px;
    box-shadow: 5px 5px 5px 5px var(--shadow);
}

.lastbutton{
    display: flex;
}

#but{
    margin-top: 30px;
    width:200px;
    height: 50px;
    line-height: 50px;
    /* line-height와 height 같으면 세로가운데정렬 */
    text-align: center;
    font-size: 80%;
    border-radius: 30px;
    margin-right: 20px;
    box-shadow: 5px 5px 5px 5px var(--shadow);
}
.blog{
    background-color: grey;
    color: white;
}

.blog a{
    color: white;
}
.kakao{
    background-color: #ffcf00;
    color: #3c1d1b;
}
.kakao a{
    color: #3c1d1b;
}

/* 1074로 작아졌을 때 */
@media screen and (max-width: 1074px){
    .video video{
        margin-top: 83px;
    }
    /* 맨 처음부터 십자가까지 */
    .first-paragraph{
        font-size:20px;
    }
    .cross__first img{
        width: 100px;
    }   
    #button_for_nnext{
        padding: 0 10px;
    } 
    /* 박스 3개 */
    .box{
        flex-direction: column;
    }
    /* 약도 */
    .map iframe{
        padding: 10px;
        width: auto;
        height: auto;
    }
    .information{
        flex-direction: column;
        font-size: 18px;
    }
    .information-text{
        width: 310px;
    }
    .information-title{
        margin-top: 10px;
    }
}
