body{
    background-color: #182338;
}
.grad__all{
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
}
.grad__title{
    font-size: 200%;
    color: #DBDBDB;
    font-weight: bold;

}
.grad__subtitle{
    font-size: 60%;
    color:#b69157;
    font-weight: 400;
}


.output__all{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;
}
.output{
    font-size: 36px;
    margin-top: 50px;
    max-width: 1000px;
    padding: 50px;
    width: 100vw;
    border: 8px outset #b69157;
}
.output__box{
    display: inline-block;
}
.box__title{
    font-size: 55%;
    color:#b69157;
    font-weight: "bold";
}
.box__text{
    font-size: 50%;
    color:#DBDBDB;
    font-weight: 200;
}

@media screen and (max-width: 976px){
    .grad__all{
        font-size: 20px;
        margin-top: 50px;
    }
    .output{
        border: 5px outset #b69157;
        font-size: 15px;
        padding: 30px;
        margin-top: 30px;
    }

}